
.land {
  fill: #d7c7ad;
  stroke: #766951;
}

.borders {
  fill: none;
  stroke: #a5967e;
}

.quake {
  fill: rgba(0, 0, 0);
  stroke-width: 1.5px;
}

text{
    font: bold 11px Verdana, Helvetica, Arial, sans-serif;
}

